<article class='info slide'><div>
  <h1>Intro to <mark>bootstrap</mark><span>getbootstrap.com</span></h1>
</div></article>

<article><div>
  <h2>bootstrap is a ui library for the web</h2>
  <p>It provides...</p>
  <ol>
    <li>A basic <a href='http://getbootstrap.com/components/'>css theme</a> that addresses typography, iconography, tables, forms and other foundational interface elements.</li>
    <li>A collection of interactive <a href='http://getbootstrap.com/components/'>UI components</a> (carousels, dialogs, tabs, alerts)</li>
    <li><a href='http://getbootstrap.com/css/#grid'>A responsive grid system</a></li>
  </ol>
</div></article>

<article class='info'><div>
  <h3>Bootstrap Grid Activity</h3>
  <p>In this week's <code>ci-template</code> folder, open <code>excercises/bootstrap-grid/index.html</code> in a browser.</p>
</div></article>