<article class='digress'><div>
  <h2>Links</h2>
  <ul>  
    <h4>Learning the CSS Box Model</h4>
    <li><a href='https://css-tricks.com/the-css-box-model/'>CSS Tricks Article</a></li>
    <li><a href='http://www.w3schools.com/css/css_boxmodel.asp'>W3C Article</a></li>
  </ul>

  <ul>
    <h4>Learning Bootstrap</h4>
    <li><a href='http://www.getbootstrap.com
'>Bootstrap Docs</a></li>
    <li><a href='http://www.w3schools.com/bootstrap/
'>W3C Tutorial</a></li>
    <li><a href='http://www.codecademy.com/courses/web-beginner-en-yjvdd/0/1/'>codecademy bootstrap course</a></li>
    <li><a href='http://www.helloerik.com/the-subtle-magic-behind-why-the-bootstrap-3-grid-works'>how bootstrap grids work</a></li>
  </ul>

  <ul>
    <h4>Tools</h4>
    <li><a href='http://getbootstrap.com/getting-started/#examples'>Bootstrap Page Templates</a></li>
    <li><a href='http://jleonard.github.io/sublime-text-2-front-end/'>front end snippet documentation</a></li>
  </ul>
</div></article>

