<article class='bold minor'><div>
  <h1>Naming</h1>
</div></article>

<article class='bold minor'><div>
  <p>Hone your skills at naming things.</p>
</div></article>

<article class='emphasis'>
  <div>
    <blockquote>
      There are only two things in the world: nothing and semantics.
        <cite>Werner Erhard</cite>
      </blockquote>
  </div>
</article>

<article class='emphasis'><div>
  <blockquote>
    There are only two hard problems in Computer Science: cache invalidation and naming things.
      <cite>Phil Karlton</cite>
    </blockquote>
</div></article>

<article><div>
  Craft: Be deliberate when naming things. Be strict about the consistent use of naming from concept through production.
</div></article>

<article><div>
  <h2>Every name introduced into a design or into a codebase is a positive or negative contribution.<span>Names are never neutral</span></h2>
</div></article>

<article><div>
  <h2>A name is more than just a way to refer to an object. <span>Names give meaning.</span></h2>
</div></article>

<article><div>
  Effective naming
  1. Research the names you choose and make sure the words support the intended meaning as clearly as possible. 
</div></article>

<article class='emphasis minor'><div>
  <h1>Let's look at some examples of <em>bad</em> naming.</h1>
</div></article>

<article class='emphasis minor'><div>
  <h2><i class='fa fa-bomb'></i> html's <mark>radio buttons</mark></h2>
</div></article>

<article class='emphasis minor radio-example'><div>
  <div class='block-centered'>
    <input type='radio' value='one' name='foo' />One
    <input type='radio' value='two' name='foo' />Two
    <input type='radio' value='three' name='foo' />Three
  </div>
</div></article>

<article class='radio'><div>
</div></article>

<article class='emphasis minor'><div>
  <h2><i class='fa fa-bomb'></i> bootstrap's <mark>naming conventions</mark></h2>
</div></article>

<article class='emphasis'><div>
  <h4>Button, primary variation</h4>
  <pre class='language-markup'><code>
&lt;a class="btn btn-primary"&gt;Button&lt;/a&gt;
</code></pre>
<a class='button'>Button</a>

  <h4>A responsive column that stacks full width on extra small screens and spans 8/12 columns on medium screens.</h4>
  <pre class='language-markup'><code>
&lt;div class="col-xs-12 col-md-8"&gt;...&lt;/div&gt;
</code></pre>

  <h4>Grid</h4>
  <pre class='language-markup'><code>
&lt;div class="container"&gt;...&lt;/div&gt;
</code></pre>

</div></article>

<article><div>
  <h3>What makes a name bad?</h3>
  <ul>
    <li>Difficult to remember. </li>
    <li>Uses complicated abbreviations or creative spelling. </li>
    <li>Not intuitive.</li>
    <li>Inconsistent use of variations. <em>Example:XBox, XBox 360, XBox One</em></li>
    <li>Tries to convey too much information; irrelevant information appended to the name. <em>Example: Fourth-generation quad-core Intel Core i7 processors</em></li>
    <li>Leverages popular ambigous/subjective terminology. <em>Examples: Coding Frameworks &amp; Libraries, Artisinal, All Natural</em>.</li>
    <li>The meaning is superceded with a more popular alternate meaning. <em>Examples: Houston St.</em></li>
    <li>Diminishes the thing it represents. <em>Example: Mobile Phone</em></li>
    <li>Inflates the thing it represents. <em>Example: Virtual Reality</em></li>
    <li>A subjective, contradictory or obfuscatory manipulation of the actual meaning. <em>Examples: Citizens United, Democratic People's Republic of Korea</em></li>
  </ul>
</div></article>

<article class='worldbuilding'><div>
  <h1>be a worldbuilder</h1>
</div></article>

<article><div>
  <h3><em>worldbuilding</em></h3>
  <h4>A process that refers to a writer's process of constructing the fictional system that encapsulates their story. Commonly applied to the Fantasy &amp; Science Fiction genres.</h4>
  <p>Good worldbuilding is more than set decoration.</p>
  <p>Malfoy - mauvaise foi - bad faith</p>
  <p>Ender's game</p>
  <p>REAMDE</p>
  <p>Name of the Wind</p>
  <p>Every interface is a world.</p>
</div></article>

<article class='beyonce'><div>
  <h5 class='kruger'>Cause if you liked it then you should have put a name on it.</h5>
</div></article>

<article><div>
  How to be effective at naming things.
  2. Name everything. 
</div></article>

<article><div>
  <h1>Atomic Design</h1>
</div></article>

<article><div>
  <h1>UI Foundation</h1>
  <h1>UI Elements</h1>
  <h1>UI Micro Components</h1>
  <h1>UI Macro Components</h1>
  <h1>UI Macro Structures</h1>
  <h1>UI Micro Structures</h1>
</div></article>

<article><div>
  UI Foundation : The Qualities of the system
  Animations, Colors, Typefaces, Units of Measurement
</div></article>

<article><div>
  Actors &amp; Roles Analogy
  -- bond
</div></article>
