<article><div>
  <h2>What did we cover <span>last week</span>?</h2>
</div></article>

<article><div>
  <h3><span>html</span> provides a common tag structure for <span>marking up</span> documents with semantic meaning.</h3>
<pre class='major language-markup'><code>
  &lt;h1&gt;Hello World&lt;/h1&gt;
</code></pre>
</div></article>

<article><div>
  <h3>There are a finite number of tags in the html5 spec.</h3>
  <p>There aren't tags for every possible UI component. In fact, there aren't tags for most UI components.</p>
  <a class='button' href='http://www.w3schools.com/tags/'>See the full list of available tags</a>
</div></article>

<article><div>
  <h3>Last week we installed some things.</h3>
  <h4>Sublime Text, our text editor and Package Control, a plugin manager for ST</h4>
  <h4>Front End Snippets, a ST plugin</h4>
  <h4>A basic project template to work on in class.</h4>
</div></article>

</article>

