<article class='slide'><div>
  <h2>Recap <mark>Week 6</mark></h2>
</div></article>

<article><div>
  <h3><span>html</span> provides a common tag structure for <a href='http://en.wikipedia.org/wiki/Markup_language'>marking up</a> documents with semantic meaning.</h3>
<pre class='major language-markup'><code>
&lt;h1&gt;This is a title.&lt;/h1&gt;
&lt;p&gt;This is a paragraph.&lt;/p&gt;
</code></pre>
</div></article>

<article><div>
  <h3>There are a finite number of tags in the html5 spec.</h3>
  <p>There aren't tags for every possible UI component. In fact, there aren't tags for most UI components.</p>
  <a class='button' href='http://www.w3schools.com/tags/'>See the full list of available tags</a>
</div></article>

<article><div>
  <h3>Last week we installed some things.</h3>
  <h4><a href='http://www.sublimetext.com/'>Sublime Text</a>, our text editor and <a href='http://packagecontrol.io'>Package Control</a>, a plugin manager for ST</h4>
  <h4><a href='http://jleonard.github.io/sublime-text-2-front-end/'>Front End Snippets</a>, a ST plugin</h4>
  <h4>A <a href='https://github.com/jleonard/ci-template'>basic project template</a> to work on in class.</h4>
</div></article>

<article class='frustrating'><div>
  
</div></article>

<article class='minor'><div>

  <p><i class="fa fa-info-circle"></i><br/><strong>Reminder:</strong> the <mark>_shortcut</mark> convention used in the lecture indicates a corresponding Front End Snippet in Sublime Text. Type the snippet and hit the Tab key to print the snippet in your document</p>
</div></article>

</article>

