<article class='emphasis'><div>

  <h1>Learning <span>how a user interface is constructed</span> will make you a better designer.</h1>
  
* Learning how a user interface is constructed will make you a better designer.
  - Why?
    - Design deliverables (visuals, wires, prototypes) go through a process of translation. An important part of honing your craft is designing for that translation.
  - How?

</div></article>

<article><div>
  <h3><span>Why?</span> Because all design artifacts (visual designs, wireframes, prototypes, etc.) go through a process of translation when they are committed to code. Being able to see your designs through that process will make you a stronger practitioner.</h3>
</div></article>