<article class='emphasis'><div>

  <h1>Learning <mark>how a user interface is constructed</mark> will make you a better designer.</h1>

</div></article>

<article class='emphasis'><div>

  <h3><mark>How?</mark></h3> 
  <p>All design artifacts (visual designs, wireframes, prototypes, etc.) go through a process of translation when they are committed to code. Designers have a responsibility to understand the basic mechanics of code translation.</p>

  <p><mark>Translating a design to code can incur costs in unexpected places.</mark></p>

  <p>It took Medium a <em>month</em> to implement a custom solution for underlining text.</p>

  <a class='button' href='https://medium.com/designing-medium/crafting-link-underlines-on-medium-7c03a9274f9'>Crafting link underlines on Medium</a>

</div></article>