<article class='digress'><div>
  <h3>Lab</h3>
  <p>Select one of the concepts you've worked on this semester and convert it to structured html. Apply as much css visual style as you can. Don't focus on adding interaction yet.</p>
  
  <h3>Assignment</h3>
  <p>Continue your lab assignment if you haven't finished. If you've finished, get started on building a portfolio page for yourself.
  <br/><br/>
  Browse <a href='http://www.codecademy.com/en/tracks/web'>codecademy's html + css course</a> to build on what you've learned in class.</p>
  

  <h5>Contact me with questions</h5>
  <a class='button' href='mailto:thejohnleonard@gmail.com?subject="SVA: Crafting Interactions"'>thejohnleonard@gmail.com</a>
  
</div></article>