<h1>The History of the Web</h1>

1989 - Tim Berners-Lee invents the Web &amp; HTML
He works in the computing services section of CERN, the European Laboratory for Particle Physics in Geneva, Switzerland.

Tim's idea is to enable researchers to organize research documents &amp; link the text in the files. Cross-referencing scientific documents. Distributed information.

Tim discusses the ideas openly, people get interested in contributing to the project. Other Academics and CS are interested in using it.

People in universities start buildling browers. skunkworks projects at Sun and HP start building browsers.

1994 - commercial interestes picks up. academics protect the free and open standards based web. everyone starts adding their own special flavors of html. standards start to drift. lots of argument. inpetuous cowboy decisions being made. (story of the img tag). companies like microsoft adopt a business strategy of releasing browsers with proprietary extentions to html. academia can't keep up. process is democratic and slow. (sparrow, star wars). academia pulls together mafia meeting of sun, msft, netscape to incorporate them into a new limited standards consortium. horse trading: netscape agrees to get rid of the blink tag if micrsoft gets rid of the marquee tag.



-- reference
http://www.w3.org/People/Raggett/book4/ch02.html
As We May Think - The Atlantic
