<article class='bold minor'><div>
  <h2 class='major'>html = structure</h2>
</div></article>

<article class='bold minor'><div>
  <p>html is a markup language intended for formatting a document with context and structure.
  <br/><br/>
  html <strong>is not</strong> a programming language.
  </p>
</div></article>

<article class='origin'><div>
  <h3>html's origin story</h3>

  <h4>
    <strong>1989</strong> html and what we know as the web are invented at the European Laboratory for Particle Physics in Geneva, Switzerland.
  </h4>
 
  <p>
    Tim Berners Lee works in the computing services section of CERN. He comes up with the idea to make scientific research documents discoverable across one global computer network <strong>&amp;</strong> enable 'hyper-links' to allow readers to jump between those documents. 
  </p>

  <p>
    Tim discusses the ideas openly, people get interested in contributing to the project. A small but growing group in academia show interest in the project.
  </p>

  <h4>
    <strong>1990 - 1993</strong> popularity grows in the academic community.
  </h4>

  <p>
    Enthusiasts start making contributions. A small conference is held and a working group is established to provide a community and set some standards for the language. Aside from skunkworks projects at companies like Sun and HP, big business doesn't show much interest. 
  </p>

  <h4><strong>1994 - 1995</strong> chaos &amp; fragmentation</h4>

  <p>Too many cooks in the kitchen. The language starts to become fragmented and inelegant.</p>

  <p>Business interests take hold. In a grab for market share, browser makers like Netscape and Microsoft begin introducing proprietary html features. The World Wide Web Consortium (W3C) is founded as a governing body for standardized web technologies.</p> 

  <h4><strong>1996</strong> unity &amp; standards</h4>

  <p>Browser makers and the W3C come together to support a common standard for the language. Browser makers rollback some of their proprietary work. Netscape agrees to get rid of the &lt;blink&gt; tag if Internet Explorer drops the &lt;marquee&gt;.</p>

</div></article>

<article class='minor'><div>
  <h2><mark>&lt;/</mark>history<mark>&gt;</mark></h2>
</div></article>

