<article class='slide'>
  <div>
    <h1>Crafting Interactions <span>Week 6</span></h1>
  </div>
</article>

<article class='emphasis slide'><div>
  <h2>Knowing how a <em>user interface is constructed</em> will make you a better interaction designer.</h2>
</div></article>

<article><div>
  <dl>
    <dt>craft:</dt>
    <dd>skill in planning, making or executing</dd>
  </dl>
</div></article>

<article class='info slide'><div>
  <h2>What are web interfaces made of?</h2>
</div></article>

<article class='info slide'><div>
  <h2>content + structure + style + action</h2>
</div></article>

<article class='slide'><div>
  <h2>html + css + js <span>structure + style + action</span></h2>
</div></article>




