<article class='emphasis'>
  <div>
    <blockquote>
      There are only two things in the world: nothing and semantics.
        <cite>Werner Erhard</cite>
      </blockquote>

      <blockquote>
      There are only two hard problems in Computer Science: cache invalidation and naming things.
        <cite>Phil Karlton</cite>
      </blockquote>
  </div>
</article>

<article><div>
  Craft: Be deliberate when naming things. Be strict about the consistent use of naming from concept through production.
</div></article>

<article><div>
  <h2>Every name introduced into a design or into a codebase is a positive or negative contribution.<span>Names are not neutral</span> </h2>
</div></article>

<article><div>
  How to be effective at naming things.
  1. Research the names you choose and make sure the words support the intended meaning as clearly as possible. 
</div></article>

<article class='minor'><div>
  <h3>Example: These are html's <mark>radio buttons</mark></h3>
  <input type='radio' value='one' name='foo'>One</input>
  <input type='radio' value='two' name='foo'>Two</input>
  <input type='radio' value='three' name='foo'>Three</input>
</div></article>

<article class='radio'><div>
</div></article>

<article><div>
  How to be effective at naming things.
  2. Name everything. 
</div></article>

<article class='beyonce'><div>
  <h2>Cause if you liked it then you should have put a name on it.</h2>
</div></article>
